{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News list
{% endblock title %}

{% block content %}
<h1 class="text-center">Новости <span class="text-muted fs-6 fw-normal">Bcero: {{ page_obj.paginator.count }} </span></h1>

<hr>
    <!-- {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}"><button class="btn btn-warning">Добавить новость</button></a> <a href="{% url 'articles_create' %}"><button class="btn btn-warning">Добавить статью</button></a>
    {% endif %} -->
    {% if posts_list %}
    <ul class="list-group list-group-flush"></ul>
        {% for post in posts_list %}
            <li class="List-group-item">
                <small class="fw-bold"> {{ post.dateCreation|date:'d M Y' }} </small>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                <small class="text-muted"> (автор: {{ post.author }}) </small> <br>
                <small class="fw-bold">Категории: <br>
                    {% for category in post.postCategory.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </small>
                <p>{{ post.text | truncatechars:210 }}</p>
            </li>
        {% endfor %}
    </ul>





    <!-- <hr>
    <table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст статьи</td>
    </tr>
    {% for post in posts_list %}
    <tr>
        <td>{{ post.title|truncatechars:22|censor }}</td>
        <td>{{ post.dateCreation|date:'d M Y' }}</td>
        <td>{{ post.text|truncatewords:20|censor }}</td>
        <td>
            <a href="{% url 'post_detail' post.id %}"><button type="button" class="btn btn-light">читать</button></a>
        </td>
    </tr> -->
    <!-- {% endfor %}
    </table> -->
   {% else %}
       <h2>Увы, новостей пока нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<hr>
{% endblock content %}