{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}
<hr>
<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<hr>
<h1>{{ post.title }}</h1>
<!-- <p>published</p> -->
<p>published {{ post.dateCreation|date:'d M Y' }} by {{ post.author.authorUser.username }}</p>
<hr>
<p>{{post.text}}</p>
<p> ❤️ {{ post.rating }}</p>
{% if perms.news.add_post %}
    <a href="{% url 'news_update' pk=post.id %}"><button class="btn btn-success">Изменить</button></a>
{% endif %}
{% if perms.news.add_post %}
    <a href="{% url 'news_delete' post.id %}"><button class="btn btn-danger">Удалить</button></a>
{% endif %}
<hr>
<!-- {% include 'commentslist.html' %} -->
{% endblock content %}