{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News list
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <p> всего новостей: {{ post|length }}</p>
   {% if post %}
   <hr>
   <table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Текст статьи</td>
    </tr>
    {% for post in post %}
    <tr>
        <td>{{ post.title|truncatechars:22|censor }}</td>
        <td>{{ post.dateCreation|date:'d M Y' }}</td>
        <td>{{ post.text|truncatewords:20|censor }}</td>
    </tr>
    {% endfor %}
    </table>
   {% else %}
       <h2>Увы, новостей пока нет!</h2>
   {% endif %}
{% endblock content %}